<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">
                    I am a BSc. in Computer Science graduate offering a strong foundation in software engineering and
                    programming principles across multiple frameworks and languages.
                </p>
                <p class="text-faded">
                    Offering over 4 years of experience in software development, dev-ops and automation\scripting
                    specialization skill sets; I draw from the broad experiences I have worked in and apply it to both
                    software development and dev-ops both inside and outside of work. I am driven to quickly learn and
                    master new technologies within both team and self-directed settings.
                </p>
            </div>
        </div>
    </div>
</section>
