<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
                <p class="text-faded">
                    I'm a software and system development professional, with a BSc. in Computer Science from Ryerson University. I
                    offer a
                    strong foundation in software engineering and development principles across multiple frameworks and
                    languages.
                </p>
                <p class="text-faded">
                    I've been working in the technology industry for 3 years in full stack software development, dev-ops
                    and system infrastructure. I'm always looking for a new challenge and looking to learn from
                    those around me. It is my personal goal to build products via test driven development, lean design
                    principles, and breaking down knowledge silos.
                </p>
            </div>
        </div>
    </div>
</section>
