<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
                <p class="text-faded">
                    Hey! I'm Brad. I'm a software development professional and BSc. graduate in Computer Science from
                    Ryerson University. I've been working in the technology industry for about 3 years within full stack
                    software development, dev-ops and system infrastructure roles.
                </p>
                <p class="text-faded">
                    I'm always looking to take on new challenges, as well as to learn and take feedback from
                    those around me. It's my personal goal to build better products through test driven development,
                    lean design principles, and breaking down knowledge silos.
                </p>
            </div>
        </div>
    </div>
</section>
